@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Тут должна быть информация касаемая приватности использования данных на сайте.</p>
